#Back-end
/back-end/node_modules
/back-end/uploads/*
/back-end/src/database/*.sqlite
!/back-end/uploads/.gitkeep
!/back-end/uploads/*.svg

#Front-end
/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js
/front-end/coverage
/front-end/build
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

#Mobile
/mobile/node_modules
/mobile/.expo/*
/mobile/.expo-shared/*
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
/mobile/web-report/

# macOS
.DS_Store